<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container col-8 p-0">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag("beer-and-wine.png") %>
      <h1 class="mb-0 ml-2">Beer&Wine Tastings</h1>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to new_user_beer_tasting_path(:user_id), class: "nav-link" do %>
              <div class="text-center nav-button">
                <i class="fas fa-beer"></i>
                <p class="mb-0">Nouvelle bière</p>
              </div>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to new_user_wine_tasting_path(:user_id), class: "nav-link" do %>
              <div class="text-center nav-button">
                <i class="fas fa-wine-glass-alt"></i>
                <p class="mb-0">Nouveau vin</p>
              </div>
            <% end %>
          </li>
          <li class="nav-item dropdown ml-2">
            <%= tag.div class: "dropdown-toggle text-center nav-button", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
              <i class="far fa-user-circle"></i>
              <p class="mb-0">Mon compte</p>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                <p class="mb-0"><i class="fas fa-user-edit"></i> Mon profil</p>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <p class="mb-0"><i class="fas fa-sign-out-alt"></i> Déconnexion</p>
              <% end %>
            </div>
            <%#= image_tag "https://www.shareicon.net/data/128x128/2016/11/21/854790_kenobi_512x512.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%# <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown"> %>
              <%#= link_to "Mon profil", edit_user_registration_path, class: "dropdown-item" %>
              <%#= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%# </div> %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Créer un compte", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
