<h1>Mes dégustations</h1>

<h3>Nombre total de dégustation : <%= current_user.tastings.count %></h3> 

<% current_user.tastings.each do |tasting| %>
  <div>
    <%= link_to user_tasting_path(:user_id, tasting) do %>
      <%= tasting.producer %> - <%= tasting.name %> (<%= tasting.rating %>/10)
    <% end %>
  </div>
<% end %>
