<h1>Mes dégustations</h1>

<p>-----------</p>

<% if user_signed_in? %>
  <h3>Nombre total de dégustations : <%= current_user.tastings.count %></h3>

  <p>-----------</p>

  <p>Bières dégustées : <%= current_user.tastings.where(category: "Bière").count %></p>

  <% current_user.tastings.where(category: "Bière").each do |tasting| %>
    <div>
      <%= link_to user_tasting_path(:user_id, tasting) do %>
        [<%= tasting.created_at.strftime("%d/%m/%y") %>] <%= tasting.producer %> - <%= tasting.name %> (<%= tasting.rating %>/10)
      <% end %>
    </div>
  <% end %>

  <p>---------------------------------------------</p>

  <p>Vins dégustés : <%= current_user.tastings.where(category: "Vin").count %></p>

  <% current_user.tastings.where(category: "Vin").each do |tasting| %>
    <div>
      <%= link_to user_tasting_path(:user_id, tasting) do %>
        [<%= tasting.created_at.strftime("%d/%m/%y") %>] <%= tasting.producer %> - <%= tasting.name %> (<%= tasting.rating %>/10)
      <% end %>
    </div>
  <% end %>
<% else %>
  <h3>Nombre total de dégustations : 0</h3>
<% end %>
