<div class="home-banner mb-4">
  <%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Feuropeanfoodcharlotte.com%2Fwp-content%2Fuploads%2F2018%2F02%2FBeer-Wine-banner.jpg&f=1&nofb=1" %>
</div>

<% if user_signed_in? %>

  <h3 class="text-center mb-5">Nombre total de dégustations : <%= (current_user.beer_tastings.count) + (current_user.wine_tastings.count) %></h3>

  <div class="last-tastings d-flex">
    <div class="last-beers col-6">
      <h4><i class="fas fa-beer"></i> Bières dégustées : <%= current_user.beer_tastings.count %></h4>

      <% current_user.beer_tastings.each do |tasting| %>
        <div>
          <%= link_to user_beer_tasting_path(:user_id, tasting) do %>
            [<%= tasting.date %>] <%= tasting.producer %> - <%= tasting.name %> (<%= tasting.rating %>/10)
          <% end %>
        </div>
      <% end %>
      <%= link_to "Voir la liste complète...", "#" %>
    </div>
    
    <div class="last-wines col-6">
      <h4><i class="fas fa-wine-glass-alt"></i> Vins dégustés : <%= current_user.wine_tastings.count %></h4>

      <% current_user.wine_tastings.each do |tasting| %>
        <div>
          <%= link_to user_wine_tasting_path(:user_id, tasting) do %>
            [<%= tasting.date %>] <%= tasting.producer %> - <%= tasting.name %> (<%= tasting.rating %>/10)
          <% end %>
        </div>
      <% end %>
      <%= link_to "Voir la liste complète...", "#" %>
    </div>
  </div>

<% else %>

  <div class="text-center">
    <h3 class="mb-4">Nombre total de dégustations : 0</h3>

    <p class="mb-4">Vous devez être connecté(e) pour consulter vos dégustations !</p>

    <%= link_to "Connexion", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Créer un compte", new_user_registration_path, class: "btn btn-primary" %>
  </div>

<% end %>
