<div class="col-6 mx-auto my-4">
  <h2 class="text-center mb-3">Ajouter une dégustation</h2>

  <%= simple_form_for [ @user, @tasting ] do |f| %>
    <%= f.input :category, collection: ["Bière", "Vin"], label: "Vin ou bière ?" %>
    <%= f.input :color, collection: ["Blonde", "Blanche", "Ambrée/Rousse", "Brune", "Noire", "Rouge", "Blanc", "Rosé"], label: "Couleur" %>
    <%= f.input :name, label: "Nom" %>
    <%= f.input :producer, label: "Château / brasserie" %>
    <%= f.input :alcohol, label: "Degré d'alcool" %>
    <%= f.input :price, label: "Prix" %>
    <%= f.input :rating, label: "Note sur 10", hint: "(nombre entier)" %>
    <%= f.input :comment, label: "Commentaire" %>
    <div class="d-flex justify-content-center">
      <%= f.submit "Ajouter la dégustation", class: "btn btn-primary mb-2" %>
    </div>
    <p class="text-center"><%= link_to "Annuler", root_path %></p>
  <% end %>
</div>
