<p><%= @tasting.category %></p>
<p><%= @tasting.type %></p>
<p><%= @tasting.name %></p>
<p><%= @tasting.producer %></p>
<p><%= @tasting.alcohol %>%</p>
<p><%= @tasting.price %>€</p>
<p><%= @tasting.rating %>/10</p>
<p><%= @tasting.comment %></p>
