<% if @tasting.category == "Bière"%>
  <h2>Bière dégustée le <%= @tasting.created_at.strftime("%d/%m/%Y") %></h2>

  <p>Brasserie : <%= @tasting.producer %></p>
<% else %>
  <h2>Vin dégusté le <%= @tasting.created_at.strftime("%d/%m/%Y") %></h2>

  <p>Château : <%= @tasting.producer %></p>
<% end %>

<p><%= @tasting.name %></p>
<p>Type : <%= @tasting.category %> <%= @tasting.color %></p>
<p>Alcool : <%= @tasting.alcohol %>%</p>
<p>Prix : <%= @tasting.price %>€</p>
<p>Note : <%= @tasting.rating %>/10</p>
<p>Commentaire : <%= @tasting.comment %></p>

<%= link_to 'Edit', edit_user_tasting_path %>
<%= link_to "Remove",
                  user_tasting_path(@tasting),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
