<div class="col-6 mx-auto my-4">
  <h2 class="text-center mb-3">Modifier la dégustation</h2>

  <%= simple_form_for [ @user, @beer_tasting ] do |f| %>
    <%= f.input :name, label: "Nom" %>
    <%= f.input :producer, label: "Brasseur" %>
    <div class="d-flex">
      <div class="col-6 pl-0">
        <%= f.input :color, collection: ["Blonde", "Blanche", "Ambrée/Rousse", "Brune", "Noire"], label: "Couleur" %>
      </div>
      <div class="col-6 pr-0">
        <%= f.input :family, label: "Style", placeholder: "IPA, Stout, Trappiste..." %>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-6 pl-0">
        <%= f.input :malts, label: "Malts", placeholder: "Blé, Maris Otter, Vienna,..." %>
      </div>
      <div class="col-6 pr-0">
        <%= f.input :hops, label: "Houblons", placeholder: "Cascade, Chinook,..." %>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-6 pl-0">
        <%= f.input :alcohol, label: "Degré d'alcool", placeholder: "6.5" %>
      </div>
      <div class="col-6 pr-0">
        <%= f.input :price, label: "Prix", placeholder: "5.99" %>
      </div>
    </div>
    <%= f.input :tasting_date, as: :date,
                              html5: true,
                              hint: "(mm/jj/aaaa)",
                              label: "Date de dégustation" %>
    <%= f.input :photo, as: :file %>
    <%= f.input :rating, label: "Note sur 10", hint: "(nombre entier)" %>
    <%= f.input :comment, label: "Commentaire", hint: "max. 300 caractères" %>
    <div class="d-flex justify-content-center">
      <%= f.submit "Modifier la dégustation", class: "btn btn-primary mb-2" %>
    </div>
    <p class="text-center tasting-links"><%= link_to "Annuler", user_beer_tasting_path(@user, @beer_tasting) %></p>
  <% end %>
</div>
